<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictionary</title>
    {% include 'General/Packages.html' %} {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Dictionary.css' %}">
</head>
<body>
<div class="container-fluid">
    <div class="row">{% include 'General/Navigator.html' %}</div>
    <div class="row" style="padding-top: 5vh">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-lg-6">
            {% if words %}
                <div class="words row">
                    <h1>{{ words.capitalize }}</h1>
                    <HR>
                </div>
                <div class="normal row">
                    <div>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#normalDic" role="button"
                           aria-expanded="false">
                            Normal Dictionary
                        </a>
                    </div>
                    <div class="collapse" id="normalDic">
                        <ul>
                            {% for data in normalDic %}
                                <li>
                                    {% if data.pron %}
                                        <span class="pron">{{ data.pron }}</span>
                                    {% endif %}
                                    {% if data.fl %}
                                        <span class="fl">{{ data.fl }}</span>
                                    {% endif %}
                                    {% if data.offensive %}
                                        <span class="offensive">{{ data.offensivel }}</span>
                                    {% endif %}
                                    {% if data.stems %}
                                        <span class="stems">{{ data.stems }}</span>
                                    {% endif %}
                                    {% if data.usage %}
                                        <span class="usage">{{ data.usage }}</span>
                                    {% endif %}
                                    {% if data.def %}
                                        <span class="def">{{ data.def }}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <HR>
                <div class="professional row">
                    <div>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#proDic" role="button"
                           aria-expanded="false">
                            Professional Dictionary
                        </a>
                    </div>
                    <div class="collapse" id="proDic">
                        <ul>
                            {% for data in proDic %}
                                <li>
                                    {% if data.stems %}
                                        <span class="stems">{{ data.stems }}</span>
                                    {% endif %}
                                    {% if data.syns %}
                                        <span class="syns">{{ data.syns }}</span>
                                    {% endif %}
                                    {% if data.offensive %}
                                        <span class="offensive">{{ data.offensivel }}</span>
                                    {% endif %}
                                    {% if data.fl %}
                                        <span class="fl">{{ data.fl }}</span>
                                    {% endif %}
                                    {% if data.usage %}
                                        <span class="usage">{{ data.usage }}</span>
                                    {% endif %}
                                    {% if data.def %}
                                        <span class="def">{{ data.def }}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="words row">
                    <h1>Hello there!</h1>
                </div>
            {% endif %}
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>
</div>
</body>
</html>